@import "../../../sass/main";

.ButtonBlock {
  width: 100%;
  margin-bottom: 25px;

  &__title {
    @include flex(_, flex-start);
  }

  &__buttons {
    display: none;
    width: 100%;
    flex-wrap: wrap;

    &_active {
      @include flex;
    }
  }
}
